name: Build and Push NuGet Package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./StringExtensionsLibrary/StringExtensionsLibrary.csproj

    - name: Build the project
      run: dotnet build ./StringExtensionsLibrary/StringExtensionsLibrary.csproj --configuration Release

    - name: Pack NuGet Package
      run: dotnet pack StringExtensionsLibrary/StringExtensionsLibrary.csproj --configuration Release -o StringExtensionsLibrary/nupkgs


    - name: Configure NuGet with Azure DevOps Token
      shell: powershell
      run: |
        try {
          dotnet nuget remove source AzureDevOps
        } catch {
          Write-Host "AzureDevOps source not found, continuing..."
        }

        dotnet nuget add source "https://pkgs.dev.azure.com/MariyaOrganization/StringExtensionsCI/_packaging/StringExtensionsFeed/nuget/v3/index.json" `
          --name AzureDevOps `
          --username anything `
          --password "${{ secrets.AZURE_DEVOPS_TOKEN }}" `
          --store-password-in-clear-text

    - name: List packed NuGet files (debug)
      run: dir StringExtensionsLibrary\nupkgs

    - name: Push to Azure Artifacts Feed
      run: dotnet nuget push StringExtensionsLibrary\nupkgs\*.nupkg --source AzureDevOps --api-key AzureArtifacts




    - name: Push to Azure Artifacts Feed
      run: dotnet nuget push StringExtensionsLibrary/nupkgs/*.nupkg --source AzureDevOps --api-key AzureArtifacts

